<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments/head :: head">
    </head>
    <body>
        <div th:replace="fragments/header :: header">...</div>
        <div th:replace="fragments/nav :: nav">...</div>
        <section>
            <div class="container wrapper">
                <form>
                    <h2>Manage Collaborators</h2>
                    <ul class="checkbox-list">
                        <li>
                            <span class="primary">Michael Pemulius</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option th:each="" value="#" selected="">Designer</option>
                                    <option value="#">Developer</option>
                                    <option value="#">QA</option>
                                    <option value="#">DevOps</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions add-new-collaborator">
                        <input type="text" placeholder="Name..."/>
                        <div class="custom-select">
                            <span class="dropdown-arrow"></span>
                            <select>
                                <option value="#" disabled="" selected="">Role...</option>
                                <option value="#">Developer</option>
                                <option value="#">Designer</option>
                                <option value="#">QA</option>
                                <option value="#">DevOps</option>
                                <option value="#">Copywriter</option>
                            </select>
                        </div>
                        <a class="button" href="#">Add</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>