<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments/head :: head">
    </head>
    <body>
        <div th:replace="fragments/header :: header">...</div>
        <div th:replace="fragments/nav :: nav">...</div>
        <section>
            <div class="container wrapper">
                <form th:action="@{/collaborators}" method="post">
                    <h2>Manage Collaborators</h2>
                    <ul class="checkbox-list">
                        <li th:each="collaborator : ${collaborators}">
                            <span th:text="${collaborator.name}" class="primary">Michael Pemulius</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option th:text="${collaborator.role.name}" value="#" selected="">Designer</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions add-new-collaborator" th:object="${newCollaborator}">
                        <input type="text" th:name="name" placeholder="Name..."/>
                        <div class="custom-select">
                            <span class="dropdown-arrow"></span>
                            <select th:field="*{role.id}">
                                <option value="#" disabled="" selected="">Role...</option>
                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">Developer</option>
                            </select>
                        </div>
                        <button class="button" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>