<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <div th:replace="fragments/header :: header">...</div>
        <div th:replace="fragments/nav :: nav">...</div>
        <section>
            <div class="container wrapper">
                <form th:action="@{/project/new}" th:object="${newProject}">
                    <div>
                        <label> Project Name:</label>
                        <input th:name="name" type="text" name="project_name"/>
                    </div>
                    <div>
                        <label>Project Description:</label>
                        <textarea th:name="description" rows="4" name="project_description"></textarea>
                    </div>
                    <div>
                        <label >Project Status:</label>
                        <div class="custom-select">
                        <span class="dropdown-arrow"></span>
                            <select name="project_status">
                                <option value="active">Active</option>
                                <option value="archived">Archived</option>
                                <option value="not_started">Not Started</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label>Project Roles:</label>
                        <ul class="checkbox-list">
                            <li th:each="role : ${roles}">
                                <input type="checkbox" name="" th:value="${role.name}" />
                                <span class="primary" th:text="${role.name}"> Developer</span>
                            </li>
                        </ul>
                    </div>
                    <div class="actions">
                        <input type="submit" value="Save" class="button"/>
                        <a href="#" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>