<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments/head :: head">
    </head>
    <body>
        <div th:replace="fragments/header :: header">...</div>
        <div th:replace="fragments/nav :: nav">...</div>
        <section>
            <div th:each="project : ${projects}" class="container wrapper">
                <div class="project-list">
                    <div class="project">
                        <h2><a th:href="@{|/project/${project.id}|}"  th:text="${project.name}"></a></h2>
                        <p  th:text="${project.description}"></p>
                        <span class="tag active">Active</span>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>