<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments/head :: head">
    </head>
    <body>
        <div th:replace="fragments/header :: header">...</div>
        <div th:replace="fragments/nav :: nav">...</div>
        <section>
            <div class="container wrapper">
                <form th:action="@{/roles}" method="post">
                    <h2>Manage Roles</h2>
                    <div>
                        <ul class="checkbox-list">
                            <li th:each="role : ${roles}"><span class="primary" th:text="${role.name}">Developer</span></li>
                        </ul>
                    </div>
                    <div  th:object="${newRole}" class="actions add-new-role">
                        <input  type="text" th:name="name" placeholder="New Role..."/>
                        <button class="button" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>